<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/global-style.css') }}" rel="stylesheet">
    <title>Создание списка</title>
</head>

<body>
<h1>Список сообщений</h1>
<form action="" onsubmit="sendMessage(event)">
    <input type="text" id="messageText" autocomplete="off"/>
    <button>Отправить</button>
</form>

<div id='messages'>
</div>

<button onclick=clearMessages(event)>
    Очистить
</button>

<script>
    var ws = new WebSocket("ws://localhost:8000/ws");
    ws.onmessage = function (event) {
        let recv_data = JSON.parse(event.data)
        let messages = document.getElementById('messages')
        let message = document.createElement('p')
        message.innerHTML = `${recv_data.id}.
        ${recv_data.agent} ask: ${recv_data.input}
        Answer: ${recv_data.output}
        At ${recv_data.timestamp}`
        messages.appendChild(message)
    };

    function clearMessages(event) {
        document.getElementById('messages').innerHTML = ''
        ws.send('{}')
        event.preventDefault()
    }

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        let send_data = JSON.stringify({
            text: input.value,
            agent: navigator.userAgent
        })
        ws.send(send_data)
        input.value = ''
        event.preventDefault()
    }
</script>
</body>
</html>
