<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/global-style.css') }}" rel="stylesheet">
    <title>Создание списка</title>
</head>
<body>
<h1>Список сообщений</h1>
<form action="" onsubmit="sendMessage(event)">
    <input type="text" id="messageText" autocomplete="off"/>
    <button>Отправить</button>
</form>
<ol id='messages'>
</ol>
<button onclick="document.getElementById('messages').innerHTML = ''">Очистить</button>
<script>
    var ws = new WebSocket("ws://localhost:8000/ws");
    ws.onmessage = function (event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data)
        message.appendChild(content)
        messages.appendChild(message)
    };

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
</body>
</html>